asgiref==3.11.1
dependency-injector==4.49.0
Django==6.0.4
django-stubs==6.0.2
django-stubs-ext==6.0.2
djangorestframework==3.17.1
djangorestframework-stubs==3.16.9
drf-serializer-shaper==0.1.2
psycopg2-binary==2.9.11
sqlparse==0.5.5
types-PyYAML==6.0.12.20260408
typing_extensions==4.15.0
tzdata==2026.1
